<form>

  <div class="form-group" [class.has-error]="input1Error">
    <label 
         class="control-label" 
         for="inputSuccess1"
         *ngIf="input1Error">
            Campo com erro
    </label>
    <input 
          type="text" 
          class="form-control" 
          id="inputSuccess1" 
          placeholder="Nome do bandido"
          aria-describedby="helpBlock2"
          [(ngModel)]="name"
          name="input-name"
          (input)="validar()"
          >
    <span 
        id="helpBlock2" 
        class="help-block"
        *ngIf="input1Error"
        >A block of help text that breaks onto a new line and may extend beyond one line.</span>
  </div>
  <button (click)="onSubmit($event);" class="btn btn-primary">Submit</button>
</form>
